// ==================================
// ==== Autofont Master Font File ===
// ==================================
// ---------------------------------------------------------
// --- Fixme - These files could not fully be auto added ---
// ---------------------------------------------------------


@font-face {
   font-family: "icomoon";
   font-style: normal;
   font-weight: 900;
   src: url("./icomoon.eot");
}

@font-face {
   font-family: "icomoon";
   font-style: normal;
   font-weight: 400;
   src: url("./icomoon.svg");
}

@font-face {
   font-family: "roboto-bold";
   font-style: normal;
   font-weight: 400;
   src: url("./roboto-bold.woff2");
}




// ---------------------------------------------------------------------
// --- Auto added these fonts. Font-Style must manually be set here  ---
// ---------------------------------------------------------------------


// ---Montserrat---

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 100;
   src: url("./Montserrat-ExtraLight.otf") format("otf");
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 200;
   src: url("./Montserrat-Light.otf") format("otf"), url("./Montserrat-Thin.otf") format("otf");
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   src: url("./Montserrat-Regular.otf") format("otf");
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   src: url("./Montserrat-Medium.otf") format("otf");
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 600;
   src: url("./Montserrat-SemiBold.otf") format("otf");
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 800;
   src: url("./Montserrat-ExtraBold.otf") format("otf");
}

// ---Montserrat Alternates---

@font-face {
   font-family: "Montserrat Alternates";
   font-style: normal;
   font-weight: 100;
   src: url("./MontserratAlternates-ExtraLight.otf") format("otf");
}

@font-face {
   font-family: "Montserrat Alternates";
   font-style: normal;
   font-weight: 200;
   src: url("./MontserratAlternates-Light.otf") format("otf"), url("./MontserratAlternates-Thin.otf") format("otf");
}

@font-face {
   font-family: "Montserrat Alternates";
   font-style: normal;
   font-weight: 400;
   src: url("./MontserratAlternates-Regular.otf") format("otf");
}

@font-face {
   font-family: "Montserrat Alternates";
   font-style: normal;
   font-weight: 500;
   src: url("./MontserratAlternates-Medium.otf") format("otf");
}

@font-face {
   font-family: "Montserrat Alternates";
   font-style: normal;
   font-weight: 600;
   src: url("./MontserratAlternates-SemiBold.otf") format("otf");
}

@font-face {
   font-family: "Montserrat Alternates";
   font-style: normal;
   font-weight: 700;
   src: url("./MontserratAlternates-Bold.otf") format("otf");
}

@font-face {
   font-family: "Montserrat Alternates";
   font-style: normal;
   font-weight: 800;
   src: url("./MontserratAlternates-Black.otf") format("otf"), url("./MontserratAlternates-ExtraBold.otf") format("otf");
}

// ---Zapfino---

@font-face {
   font-family: "Zapfino";
   font-style: normal;
   font-weight: 400;
   src: url("./Zapfino.ttf") format("ttf");
}

// ---icomoon---

@font-face {
   font-family: "icomoon";
   font-style: normal;
   font-weight: 400;
   src: url("./icomoon.ttf") format("ttf"), url("./icomoon.woff") format("woff");
}

// ---Roboto---

@font-face {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   src: url("./roboto-bold.ttf") format("ttf"), url("./roboto-bold.woff") format("woff");
}

// ---Roboto Light---

@font-face {
   font-family: "Roboto Light";
   font-style: normal;
   font-weight: 400;
   src: url("./roboto-light.ttf") format("ttf"), url("./roboto-light.woff") format("woff");
}

// ---Roboto Medium---

@font-face {
   font-family: "Roboto Medium";
   font-style: normal;
   font-weight: 400;
   src: url("./roboto-medium.ttf") format("ttf");
}

// ---SFNS Display---

@font-face {
   font-family: "SFNS Display";
   font-style: normal;
   font-weight: 400;
   src: url("./sfns-display-regular.ttf") format("ttf");
}

